body {
  font-size: 16px;
  line-height: 24px;
  color: #000;
  font-family: PTSans, Arial, sans-serif;
  background-color: #f2f2f2;
  width: 1200px;
  margin: 0 auto;
  box-shadow: -5px 0 15px #dedede,
  5px 0 15px #dedede;
}

h2 {
  font-size: 45px;
  line-height: 45px;
  color: #000;
  font-weight: 500;
  font-family: PTSans, Arial, sans-serif;
}

h3 {
  font-size: 18px;
  line-height: 30px;
  color: #000;
  font-weight: 500;
  font-family: PTSans, Arial, sans-serif;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.main-header {
  background-color: white;
  background-image: url("img/commercial.png");
  background-repeat: no-repeat;
  background-position: center;
  min-height: 565px;
}

.header {
  background-color: white;
}

.logo {
  position: absolute; /*а где блок с position: relative;?*/
  top: 0px;
  left: 50%;
  transform: translateX(-50%);

 /* а почему нельзя margin: 0 auto ?*/
}

.logo a {
  display: block; /*не работает почему-то*/
  text-align: center;
}

.main-navigation {
  background-color: white;
  font-size: 0px;
}

.left-menu, .right-menu {
  display: block;
  vertical-align: top;
  width: calc(50% - 70px);
  font-size: 0px;
}

.left-menu li:first-child {
  padding-left: 70px;
}

.left-menu li:last-child {
  padding-left: 148px;
}

.right-menu li:last-child {
  padding-left: 160px;
}

.right-menu li:first-child {
  padding-left: 127px;
}

.left-menu {
  float: left;
}

.right-menu {
  float: right;
}

.main-navigation ul {
  padding: 0px;
  margin-top: 14px;
  font-size: 0px;
  list-style: none;
}

.main-navigation li {
  padding-left: 35px;
  padding-bottom: 15px;
  letter-spacing: -1px;
  font-size: 14px;
  line-height: 26px;
  font-weight: bold;
  text-transform: uppercase;
  display: inline-block;
}

.main-navigation a {
  text-decoration: none;
  color: #000;
}

.main-navigation a:hover {
  color: #81b3d2;
}

.main-navigation a:active {
  opacity: 0.5;
}

.main-navigation .active-header {
 color: rgba(96,78,67,0.6);
}

.main-navigation .active-header:hover {
  color: rgb(96,78,67);
}

.main-navigation .active-header a:active {
  color: rgba(96,78,67,0.3);
}

.main-features {
  width: 1200px;
  margin: 0 auto;
  background-color: white;
}

.motto h3 { 
  font-size: 19px;
  line-height: 26px;
  letter-spacing: -0.5px;
  margin: 0 auto;
  padding-top: 59px;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  width: 496px;
}

.motto p { 
  text-transform: uppercase;
  font-size: 14px;
  padding-left: 355px;
  padding-top: 12px;
  letter-spacing: -0.8px;
  margin-bottom: 54px;
}

.number {
  display: inline-block;
  margin: 0;
  text-align: center;  
}

.number span {
  position: relative;
  z-index: 1500;
  display: inline-block;
  padding: 0px 5px;
}

.number::after {
  content: "";
  position: relative;
  top: -12px;
  z-index: 1000; 
  display: block;
  width: 50px; 
  border-bottom: 2px solid white;
}

.feature-big-1 {
  text-transform: uppercase;
  background-image: url("img/hotel.png");
  background-repeat: no-repeat;
  background-position: right;
  background-color: #81b3d2;
  color: white;
  min-height: 256px;
}

.feature-big-1 h3 {
  padding-left: 128px;
  color: white;
  font-weight: bold;
  width: 140px;
  display: block;
  text-align: center;
  font-size: 21px;
  padding-top: 53px;
  letter-spacing: -2px;
  line-height: 22px;
}

.feature-big-1 .number {
  padding-left: 62px;
  color: white;
  width: 276px;
  /*display: block;*/
  text-align: center;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: -0.7px;
  padding-bottom: 6px;
}

.feature-big-1 .number::after {
  left: 112px;
}

.feature-big-1 .number span {
  background-color: #81b3d2;
}

.feature-big-1 p {
  padding-left: 62px;
  color: white;
  width: 276px;
  display: block;
  text-align: center;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: -0.7px;
  padding-bottom: 6px;
}

.feature-small {
  display: inline-block;
  width: 397px;
  text-align: center;
  text-transform: uppercase;
  vertical-align: top;
  margin-top: 46px;
}

.feature-small h3 {
  font-weight: bold;
  font-size: 21px;
  margin: 0;
  letter-spacing: -2px;
  padding-top: 22px;
}

.feature-small .number {
  font-size: 14px;
  line-height: 21px;
  padding-top: 5px;
  padding-left: 1px;
  letter-spacing: -1px;
}

.feature-small p {
  font-size: 14px;
  line-height: 21px;
  padding-top: 5px;
  padding-left: 1px;
  letter-spacing: -1px;
}

.feature-big-2 {
  margin-top: 58px;
  text-transform: uppercase;
  background-image: url("img/layer-5.png");
  background-repeat: no-repeat;
  background-position: left;
  background-color: #81b3d2;
  color: white;
  min-height: 255px;
}

.feature-big-2 h3 {
  padding-left: 923px;
  color: white;
  font-weight: bold;
  width: 160px;
  display: block;
  text-align: center;
  font-size: 21px;
  padding-top: 55px;
  letter-spacing: -1px;
  line-height: 21px;
}

.feature-big-2 .number {
  padding-left: 850px;
  color: white;
  /*display: block;*/
  text-align: center;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: -0.7px;
  width: 302px;
  padding-bottom: 4px;
  padding-top: 3px;
}

.feature-big-2 .number::after {
  left: 125px;
}

.feature-big-2 .number span {
  background-color: #81b3d2;
}

.feature-big-2 p {
  padding-left: 850px;
  color: white;
  display: block;
  text-align: center;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: -0.7px;
  width: 302px;
  padding-bottom: 4px;
  padding-top: 3px;
}

.features-middle {
  background-color: #eeeeee;
  font-size: 0;
  height: 255px;
  margin-top: -14px;
}

.feature-middle {
  display: inline-block;
  width: 397px;
  text-align: center;
  text-transform: uppercase;
  vertical-align: top;
  background-color: #eeeeee;
}

.feature-middle h3 {
  font-size: 21px;
  margin: 0;
  letter-spacing: -2px;
  padding-top: 22px;
  width: 214px;
  line-height: 21px;
  padding-left: 92px;
  padding-top: 47px;
}

.feature-middle .number {
  font-size: 14px;
  line-height: 21px;
  padding-top: 23px;
  padding-left: 1px;
  letter-spacing: -1px;
}

.feature-middle .number span {
  background-color: #eeeeee;
}

.feature-middle p {
  font-size: 14px;
  line-height: 21px;
  padding-top: 5px;
  padding-left: 1px;
  letter-spacing: -1px;
  padding-bottom: 4px;
}


.main-footer {
  background-color: white;
  padding-top: 60px;
  padding-bottom: 40px;
  color: #000; /* лучше явно прописать везде для футера */
}

.main-footer h3 {
  margin: 0 auto;
  font-weight: bold;
  width: 440px;
  text-transform: uppercase;
  letter-spacing: -3px;
  text-align: center;
  margin-top: -2px;
  font-size: 30px;
  line-height: 24px;
}

.main-footer p {
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: -0.8px;
  text-align: center;
  width: 440px;
  margin: 0 auto;
  padding-top: 28px;
}

.footer-map {
  background: url("img/map.png") center;
  background-color: #eeeeee;
  min-height: 472px;
  /*overflow: hidden;*/
  margin-top: 194px;
}

.footer-contacts {
  float: left;
  width: 373px;
  text-transform: uppercase;
  padding-top: 45px;
  font-weight: bold;
  font-size: 21px;
  letter-spacing: -1.7px;
  padding-left: 134px;
}

.footer-contacts a {
  color: #ffffff;
}

.footer-contacts a:hover {
  text-decoration: none;
}

.footer-social {
  float: left;
  width: 186px;
  text-align: center;
}

.footer-social p { /*что это?*/
  margin: 0;
  margin-bottom: 15px;
}

.social-btn {
  display: inline-block;
  width: 46px;
  height: 46px;
  margin: 0 1px;
  font-size: 0;
  vertical-align: top;
  text-decoration: none;
  background: #81b3d2; 
  margin-top: 36px;
  position: relative;
}

.social-btn:hover {
  background-color: #669ec0;
}
  
 .social-btn:active::before {
  opacity: 0.3;
  background-color: #5496bd;
} 
 
.social-btn-tw::before {
  display: block;
  content: " ";
  position: absolute;
  top: 17px;
  left: 14px;
  background: url(img/sprite.png) no-repeat -8px -216px;
  width: 20px;
  height: 22px;
}

.social-btn-fb::before {
  display: block;
  content: " ";
  position: absolute;
  top: 12px;
  left: 17px;
  background: url("img/sprite.png") no-repeat -8px -175px;
  width: 12px;
  height: 22px;
}

.social-btn-youtube::before  {
  display: block;
  content: " ";
  position: absolute;
  top: 16px;
  left: 12px;
  background: url(img/sprite.png) no-repeat -8px -251px;
  width: 20px;
  height: 22px;
}

.footer-copyright {
  float: right;
  max-width: 350px;
  margin-right: 102px;
  margin-top: 40px; 
  position: relative;
}

.footer-copyright p{
  color: black;
  font-size: 14px;
  display: inline-block;
  width: 81px;
  position: absolute;
  left: -85px;
  top: -20px;
 }

.footer-copyright .btn {
  position: relative;
}

/* Всплывающая форма */

.features {
  background-image: url("img/filter-background.png");
  background-repeat: no-repeat;
  /*height: 217px;*/
}

.features h3 {
  color: white;
  padding-top: 6px;
  padding-left: 20px;
  text-transform: uppercase;
  letter-spacing: -2px;
  padding-bottom: 2px;
  color: white;
}

.infrastructure,
.accommodation {
  float: left;
}

.infrastructure {
  margin-left: 50px;
}

.accommodation {
  margin-left: 96px;
}

.infrastructure ul,
.accommodation ul {
  list-style: none;
}

.infrastructure li,
.accommodation li {
  padding-bottom: 24px;
}

.filter-range {
  float: right;
  margin-right: 72px;
}

.content-col-left input[type=checkbox] {
  display: none;
}

.content-col-left input[type=checkbox] + label {
  display: block;
  text-transform: uppercase;
  color: white;
  line-height: 21px;
  padding-left: 19px;
  font-size: 14px;
  position: relative;
  cursor: pointer;
}

.content-col-left input[type=checkbox] + label::before {
  content: "";
  width: 37px;
  height: 37px;
  background-image: url("img/sprite.png");
  background-repeat: no-repeat;
  position: absolute;
  top: -11px;
  left: -29px;
}

.content-col-left input[type=checkbox]:checked + label::before {
  content: "";
  width: 37px;
  height: 37px;
  background-image: url("img/checkbox-on.png");
  background-repeat: no-repeat;
  position: absolute;
  top: -1px;
  left: -19px;
}

.content-col-left input[type=checkbox]:active + label::before,
.content-col-left input[type=checkbox]:checked:active  + label::before {
  opacity: 0.5;
}

.filter-range-title {
  text-transform: uppercase;
  color: white;
  padding-top: 27px;
  padding-left: 10px;
  letter-spacing: -1px;
}

.btn-transparent {
  display: block;
  text-transform: uppercase;
  text-align: center;
  vertical-align: middle;
  border: 2px solid white;
  border-radius: 3px;
  padding: 9px 32px;
  color: white;
  background-color: transparent;
  margin-top: 32px;
  margin-left: 106px;
}

.btn-transparent:hover {
  background-color: white;
  color: #000;
}


.price-controls {
  border: 2px solid white;
  border-radius: 3px;
  padding-top: 5px;
  padding-bottom: 5px;
  color: white;
  margin-top: 7px;
  margin-left: 21px;
  width: 314px;
}

.price-controls input {
  background-color: transparent;
  color: white;
  width: 65px;
  border: 0px;
}

label.min-price {
  padding-left: 65px;
  padding-right: 4px;
}

label.max-price {
  border-left: 2px solid white;
  padding-left: 51px;
}

.range-controls {
  position: relative;
  padding-top: 19px;
  padding-left: 31px;
  background: transparent;
}

.range-controls .scale {
  height: 2px;
  background: grey;
}

.range-controls .bar {
  width: 83%;
  height: 2px;
  background: white;
}

.range-controls .range-toggle {
  position: absolute;
  top: 10px;
  width: 4px;
  height: 4px;
  cursor: pointer;
  border: 8px solid #fff;
  border-radius: 50%;
  background: #ababab;
}

.range-controls .range-toggle:hover {
  background: #3a6184;
}

.range-controls .range-toggle-min {
  left: 22px;
}

.range-controls .range-toggle-max {
  left: 274px;
}

.main-part {
  background-color: #fefefe;
}

.sort {
  display: inline-block;
}

.sorting h2 {
  line-height: 26px;
  text-transform: uppercase;
  font-size: 20px;
  display: inline-block;
  margin-left: 71px;
  letter-spacing: -1px;
  margin-top: 23px;
  display: inline-block;
}

.quantity {
  line-height: 26px;
  font-size: 20px;
  padding-left: 5px;
  display: inline-block;
}

.sort h2 {
  line-height: 18px;
  font-size: 12px;
  margin: 0px;
  margin-top: 23px;
  padding-left: 45px;
}

/*.sort-tools {
  display: inline-block;
}*/

.sort-links {
  line-height: 18px;
  font-size: 12px;
  padding: 0px;
  padding-top: 27px;
 /* float: left;*/
  display: inline-block;
  width: 775px;
}

.sort-links .selected {
  border-bottom: 0px;
  color: #81b3d2;
}

.sort-links a {
  margin-left: 35px;
  text-decoration: none;
  line-height: 18px;
  font-size: 12px;
  color: #cacaca;
  border-bottom: 1px dashed #81b3d2;
}

.sort-links a:hover {
  color: #81b3d2;
}

.sort-links a:active {
  border-bottom: 0px;
  color: black;
}

.sort-arrows {
  display: inline-block;
}

.sort-arrows button {
  display: inline-block;
  background-color: #fff;
  border: none;
  outline: none;
}

.sort-arrows .down {
  margin-top: 27px;
  opacity: 0.3;
  margin-left: 10px;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 10px solid rgba(0,0,0,0.6);
  padding: 0;
}

.sort-arrows .down:hover { 
  border-top: 10px solid rgb(0,0,0);
}

.sort-arrows .down:active,
.down.active {
  border-top: 10px solid #81b3d2;
}

.sort-arrows .up {
  margin-right: -2px;
  vertical-align: middle;
  opacity: 0.3;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 10px solid rgba(0,0,0,0.6);
  padding: 0;
}

.sort-arrows .up:hover {
  opacity: 1;
  border-bottom: 10px solid rgb(0,0,0);
}

.sort-arrows .up:active,
.up.active {
  border-bottom: 10px solid #81b3d2;
}

.up .active {
  opacity: 1;
}

.photo,
.description {
  float: left;
}

.rate {
  text-align: right;
  float: right;
}

.info-hotel {
  border-top: 1px solid #e5e5e5;
  margin-top: 15px;
}

.photo {
  margin-left: 73px;
  padding-top: 28px;
}

.description {
  width: 283px;
  margin-left: 30px;
  padding-top: 3px;
}

.description h3 {
  margin-bottom: 2px;
  padding-bottom: 0px;
  font-weight: 600;
}

.description h3:hover {
   color: #81b3d2;
}

.description h3:active {
  opacity: 0.5;
}

.description p {
  display: inline-block;
  margin-top: 0px;
  padding-right: 40px;
  font-size: 12px;
}

.description a {
  width: 110px;
  height: 25px;
  background-color: #81b3d2;
  color: white;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  padding: 1px 0px;
  text-align: center;
}

.description a:hover {
  background-color: #669ec0;
}


.description a:active {
  background-color: #5496bd;
  color: rgba(250,250,250,0.3);
}

.description input {
  background-color: #766357;
  width: 110px;
  color: white;
  font-size: 12px;
  outline: none;
  border: 0px;
  width: 143px;
  height: 27px;
}

.description input:hover {
  background-color: #604e43;
}

.description input:active {
  background-color: #503e33;
  color: rgba(250,250,250,0.3);
}

.rate p {
  font-size: 12px;
  background-color: #f3f3f3;
  width: 110px;
  height: 27px;
  color: #656565;
  margin-right: 71px;
  text-align: center;
}

.rate img {
  margin-right: 71px;
  margin-right: 71px;
  padding-top: 27px;
  padding-bottom: 31px;
}

.modal-content 
{z-index: 2000;
    /*display: none;
 
  
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);*/
 
  position: fixed;
  top: 25%;
  left: 29.6%;
  width: 510px;

  height: 397px;
  
  color: #000000;
  background: #fff;
  box-shadow: 0px 30px 50px rgba(0, 0, 0, 0.7);
 /* padding-top: 61px;*/
    font-size: 14px;
    font-weight: 700;
    padding-left: 57px; 
    letter-spacing: -1px;
}

.modal-content:before {
  height: 57px;
  width: 568px;
  background-color: #766357;
  color: white;
  content: "ПОИСК ГОСТИНИЦЫ В СЕДОНЕ";
  position: absolute;
  top: -86px;
  left: 0px;
  font-size: 19px;
  text-align: center;
  line-height: 26px;
  padding-top: 29px;
}

.modal-content .btn {
  display: block;
}

.modal-content .date,
.modal-content .quantity {
  display: inline-block;
}

.modal-content .date {
  width: 330px;
  margin-right: 48px;
  height: 35px;
  margin-left: 30px;
  border: none;
  background-color: #f2f2f2;
  color: #000;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: -1px;
  padding-left: 4px;
  
  border: none;
  outline: none;
  
}

 label.check-in,
 label .check-out {
  display: block;
  margin-top: 51px;
  position: relative;
}

label.check-in:after,
label.check-out:after {   
  background: url("img/date.png") no-repeat;  /*ПОЧЕМУ НЕ ВИДНА КАРТИНКА?*/
  position: absolute;
  content: "";
  
  width: 22px;
  height: 22px;
  top: 8px;
  left: 427px;
}

.modal-content .quantity {
  line-height: 26px;
  font-size: 14px;
  padding-left: 50px;
  display: inline-block;
  width: 60px;
  margin-left: 37px;
  height: 31px;
  background-color: #f2f2f2;
  border: none;
  outline: none;
  font-weight: 700;
  position: relative;
}

input.quantity:before {
  position: absolute;
  content: "";
  top: 10px;
  left: 10px;
  background-color: red;
  width: 20px;
  height: 20px;

}