body {
  font-size: 16px;
  line-height: 24px;
  color: #000;
  font-family: PTSans, Arial, sans-serif;
  background-color: #f2f2f2;
  width: 768px;
  margin: 0 auto;
 /* box-shadow: -5px 0 15px #dedede,
  5px 0 15px #dedede;*/
}

h2 {
  font-size: 45px;
  line-height: 45px;
  color: #000;
  font-weight: 500;
  font-family: PTSans, Arial, sans-serif;
}

h3 {
  font-size: 18px;
  line-height: 30px;
  color: #000;
  font-weight: 500;
  font-family: PTSans, Arial, sans-serif;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.main-header {
  background-color: white;
  background-image: url("img/intro.png");
  background-repeat: no-repeat;
  background-position: center;
  min-height: 565px;
}

.header {
  background-color: white;
}

.logo {
  position: absolute;
  transform: translateX(228%);
}


.main-navigation {
  background-color: white;
  font-size: 0px;
}

.left-menu, .right-menu {
  display: block;
  vertical-align: top;
  width: calc(50% - 70px);
  font-size: 0px;
}

.left-menu li:first-child {
  padding-left: 44px;
  padding-right: 25px;
}

.right-menu li:first-child {
  padding-left: 25px;
}

.right-menu li:last-child {
  padding-left: 75px;
}
.left-menu {
  float: left;
}

.right-menu {
  float: right;
}

.main-navigation ul {
  padding: 0px;
  margin-top: 14px;
  font-size: 0px;
  list-style: none;
}

.main-navigation li {
  padding-left: 35px;
  padding-bottom: 15px;
  letter-spacing: -1px;
  font-size: 14px;
  line-height: 26px;
  font-weight: bold;
  text-transform: uppercase;
  display: inline-block;
}

.main-navigation a {
  text-decoration: none;
  color: #000;
}

.main-navigation a:hover {
  color: #81b3d2;
}

.main-navigation a:active {
  opacity: 0.5;
}

.main-navigation .active-header {
 color: rgba(96,78,67,0.6);
}

.main-navigation .active-header:hover {
  color: rgb(96,78,67);
}

.main-navigation .active-header a:active {
  color: rgba(96,78,67,0.3);
}

.main-features {
  width: 768px;
  margin: 0 auto;
  background-color: white;
}

.motto h3 {
  font-size: 19px;
  line-height: 26px;
  margin: 0 auto;
  padding-top: 59px;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  width: 496px;
}

.motto p {
  text-transform: uppercase;
  font-size: 14px;
  padding-left: 138px;
  padding-top: 14px;
  letter-spacing: -0.8px;
  margin-bottom: 54px;
}

.number {
  display: inline-block;
  margin: 0;
  text-align: center;
}

.number span {
  position: relative;
  z-index: 1500;
  display: inline-block;
  padding: 0px 5px;
}

.number::after {
  content: "";
  position: relative;
  top: -12px;
  z-index: 1000;
  display: block;
  width: 50px;
  border-bottom: 2px solid white;
}

.feature-big-1 {
  text-transform: uppercase;
  background-image: url("img/2-layers.png");
  background-repeat: no-repeat;
  color: white;
  min-height: 256px;
}

.feature-big-1 h3 {
  padding-left: 56px;
  color: white;
  width: 140px;
  display: block;
  text-align: center;
  font-size: 19px;
  padding-top: 46px;
  line-height: 22px;
}

.feature-big-1 .number {
  color: white;
  width: 252px;
  text-align: center;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: -0.7px;
  padding-bottom: 6px;
}

.feature-big-1 .number::after {
  left: 101px;
}

.feature-big-1 .number span {
  background-color: #81b3d2;
}

.feature-big-1 p {
  padding-left: 24px;
  color: white;
  width: 202px;
  display: block;
  text-align: center;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: -0.7px;
  padding-bottom: 6px;
}

.feature-small {
  display: inline-block;
  width: 253px;
  text-align: center;
  text-transform: uppercase;
  vertical-align: top;
  margin-top: 123px;
  position: relative;
}

.feature-small img {
  display: block;
    position: absolute;
    content: "";
    left: 90px;
    bottom: 152px;
}

.feature-small h3 {
  font-size: 21px;
  margin: 0;
  letter-spacing: -2px;
  padding-top: 18px;
}

.feature-small .number {
  font-size: 14px;
  line-height: 21px;
  padding-top: 5px;
  padding-left: 1px;
  letter-spacing: -1px;
}

.feature-small p {
  display: block;
  width: 166px;
  font-size: 14px;
  line-height: 21px;
  padding-top: 5px;
  padding-left: 45px;
  letter-spacing: -1px;
  padding-right: 60px;
}

.feature-big-2 {
  margin-top: 47px;
  text-transform: uppercase;
  background-image: url("img/bridge-768.png");
  background-repeat: no-repeat;
  min-height: 255px;
}

.feature-big-2.content {


}

.feature-big-2 h3 {
  padding-left: 561px;
  padding-top: 49px;
  color: white;
  text-align: center;
  width: 155px;
  display: block;
  font-size: 19px;
  line-height: 20px;
}

.feature-big-2 .number {
  padding-left: 489px;
  color: white;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: -0.7px;
  width: 302px;
  padding-bottom: 4px;
  padding-top: 5px;
}

.feature-big-2 .number::after {
  left: 125px;
}

.feature-big-2 .number span {
  background-color: #81b3d2;
}

.feature-big-2 p {
  padding-left: 558px;
  color: white;
  display: block;
  text-align: center;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -1px;
  width: 162px;
  padding-bottom: 4px;
  padding-top: 3px;
}

.features-middle {
  
  font-size: 0;
  height: 255px;
  margin-top: -14px;
}

.feature-middle {
  display: inline-block;
    width: 256px;
    text-align: center;
    text-transform: uppercase;
    vertical-align: top;
    background-color: #eeeeee;
}

.feature-middle h3 {
  font-size: 21px;
  margin: 0;
  letter-spacing: -2px;
  width: 214px;
  line-height: 20px;
  padding-left: 19px;
  padding-top: 49px;
}

.feature-middle .number {
  font-size: 14px;
  line-height: 21px;
  padding-top: 25px;
  letter-spacing: -1px;
}

.feature-middle .number:after {
  border-bottom-color: grey;
}


.feature-middle .number span {
  background-color: #eeeeee;
}

.feature-middle p {
  width: 211px;
  font-size: 14px;
    line-height: 20px;
    padding-top: 2px;
    padding-left: 24px;
    letter-spacing: -0.7px;
    padding-bottom: 5px;
}


.main-footer {
  background-color: white;
  padding-top: 60px;
  padding-bottom: 40px;
  color: #000; /* лучше явно прописать везде для футера */
}

.main-footer h3 {
  margin: 0 auto;
  font-weight: bold;
  width: 440px;
  text-transform: uppercase;
  letter-spacing: -3px;
  text-align: center;
  font-size: 30px;
  line-height: 24px;
}

.main-footer p {
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: -0.8px;
  text-align: center;
  width: 441px;
  margin: 0 auto;
  padding-top: 28px;
}

.footer-map {
  background-image: url("img/map.png");
  background-color: #eeeeee;
  height: 472px;
  width: 768px;
  overflow: hidden;
  margin-top: 133px;
}

.footer-contacts {
  float: left;
    width: 227px;
    text-transform: uppercase;
    padding-top: 48px;
    /* font-weight: bold; */
    font-size: 21px;
    letter-spacing: -1.7px;
    padding-left: 61px;
}

.footer-contacts a {
  color: #ffffff;
}

.footer-contacts a:hover {
  text-decoration: none;
}

.footer-social {
  float: left;
  width: 186px;
  text-align: center;
  margin-top: 2px;
}

.footer-social p { /*что это?*/
  margin: 0;
  margin-bottom: 15px;
}

.social-btn {
  display: inline-block;
  width: 46px;
  height: 46px;
  margin: 0 1px;
  font-size: 0;
  vertical-align: top;
  text-decoration: none;
  background: #81b3d2;
  margin-top: 36px;
  position: relative;
}

.social-btn:hover {
  background-color: #669ec0;
}

 .social-btn:active::before {
  opacity: 0.3;
  background-color: #5496bd;
}

.social-btn-tw::before {
  display: block;
  content: " ";
  position: absolute;
  top: 16px;
  left: 14px;
  background: url(img/sprite.png) no-repeat -8px -216px;
  width: 20px;
  height: 22px;
}

.social-btn-fb::before {
  display: block;
  content: " ";
  position: absolute;
  top: 10px;
  left: 17px;
  background: url("img/sprite.png") no-repeat -8px -175px;
  width: 12px;
  height: 22px;
}

.social-btn-youtube::before  {
  display: block;
  content: " ";
  position: absolute;
  top: 15px;
    left: 13px;
  background: url("img/sprite.png") no-repeat -8px -251px;
  width: 20px;
  height: 22px;
}

.footer-copyright {
  float: right;
    max-width: 350px;
    margin-right: 32px;
    margin-top: 42px;
    position: relative;
}

.footer-copyright p{
  color: black;
  font-size: 14px;
  display: inline-block;
  width: 81px;
  position: absolute;
  left: -85px;
  top: -22px;
 }

.footer-copyright .btn {
  position: relative;
}

.features {
  background-image: url("img/filter-background.png");
  background-repeat: no-repeat;
  height: 217px;
  display: block;
}

.features h3 {
  padding-top: 8px;
  padding-left: 20px;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-bottom: 4px;
  color: white;
  font-size: 16px;
}

.infrastructure,
.accommodation {
  float: left;
}

.infrastructure {
  margin-left: 25px;
}

.accommodation {
  margin-left: 85px;
}

.infrastructure ul,
.accommodation ul {
  list-style: none;
  letter-spacing: -1px;
  margin-bottom: 0px;
  font-weight: 400; 
}

.infrastructure li,
.accommodation li {
  padding-bottom: 24px;
  font-weight: 400;  /*doesn't work*/
}

.filter-range {
  float: right;
  width: 300px;
}

.content-col-left input[type=checkbox] {
  display: none;
}

.content-col-left input[type=checkbox] + label {
  display: block;
  text-transform: uppercase;
  color: white;
  line-height: 21px;
  padding-left: 19px;
  font-size: 14px;
  position: relative;
  cursor: pointer;
}

.content-col-left input[type=checkbox] + label::before {
  content: "";
  width: 37px;
  height: 37px;
  background-image: url("img/sprite.png");
  background-repeat: no-repeat;
  position: absolute;
  top: -11px;
  left: -29px;
}

.content-col-left input[type=checkbox]:checked + label::before {
  content: "";
  width: 37px;
  height: 37px;
  background-image: url("img/checkbox-on.png");
  background-repeat: no-repeat;
  position: absolute;
  top: -1px;
  left: -19px;
}

.content-col-left input[type=checkbox]:active + label::before,
.content-col-left input[type=checkbox]:checked:active  + label::before {
  opacity: 0.5;
}

.filter-range-title {
  text-transform: uppercase;
  color: white;
  padding-top: 27px;
  padding-left: 33px;
  letter-spacing: -1px;
}

.btn-transparent {
  display: block;
  text-transform: uppercase;
  text-align: center;
  vertical-align: middle;
  border: 2px solid white;
  border-radius: 3px;
  padding: 9px 34px;
  color: white;
  background-color: transparent;
  margin-top: 32px;
  margin-left: 73px;
  font-size: 12px;
}

.btn-transparent:hover {
  background-color: white;
  color: #000;
}

.price-controls {
  border: 2px solid white;
  border-radius: 3px;
  padding-top: 4px;
  padding-bottom: 4px;
  color: white;
  margin-top: 7px;
  width: 219px;
  margin-left: 30px;
}

.price-controls input {
  background-color: transparent;
  color: white;
  width: 41px;
  border: 0px;
}

label.min-price {
 padding-left: 41px;
}

label.max-price {
  border-left: 2px solid white;
  padding-left: 30px;
}

.range-controls {
  position: relative;
  padding-top: 19px;
  background: transparent;
  width: 198px;
  margin-left: 55px;
}

.range-controls .scale {
  height: 2px;
  background: grey;
}

.range-controls .bar {
  width: 80%;
  height: 2px;
  background: white;
}

.range-controls .range-toggle {
  position: absolute;
  top: 10px;
  width: 4px;
  height: 4px;
  cursor: pointer;
  border: 8px solid #fff;
  border-radius: 50%;
  background: #ababab;
}

.range-controls .range-toggle:hover {
  background: #3a6184;
}

.range-controls .range-toggle-min {
  left: -21px;
}

.range-controls .range-toggle-max {
  left: 135px;
}

.main-part {
  background-color: #fefefe;
  display: block;
  padding-top: 8px;   
}

.sorting h2 {
  line-height: 24px;
  text-transform: uppercase;
  font-size: 20px;
  display: inline-block;
  padding-left: 43px;
  letter-spacing: -1px;
  font-weight: bold;
  margin-top: 23px;
  display: inline-block;
}

.quantity {
  font-weight: bold;
  line-height: 26px;
  font-size: 20px;
  display: inline-block;
}

.sort {
  display: inline-block;
}

.sort h2 {
  font-weight: 400;
  line-height: 18px;
  font-size: 12px;
  margin: 0px;
  margin-top: 23px;
  padding-left: 45px;
}

.sort-links {
  line-height: 18px;
  font-size: 14px;
  margin-left: 38px;
  display: inline-block;
}

.sort-links .selected {
  border-bottom: 0px;
  color: #81b3d2;
}

.sort-links a {
  margin-right: 33px;
  text-decoration: none;
  line-height: 18px;
  font-size: 10px;
  color: #cacaca;
  border-bottom: 1px dashed #81b3d2;
}

.sort-links a:hover {
  color: #81b3d2;
}

.sort-links a:active {
  border-bottom: 0px;
  color: black;
}

.sort-arrows {
  display: inline-block;
  margin-left: 91px;
}

.sort-arrows button {
  display: inline-block;
  background-color: #fff;
  border: none;
  outline: none;
}

.sort-arrows .down {
  margin-top: 27px;
  opacity: 0.3;
  margin-left: 10px;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 10px solid rgba(0,0,0,0.6);
  padding: 0;
}

.sort-arrows .down:hover {
  border-top: 10px solid rgb(0,0,0);
}

.sort-arrows .down:active,
.down.active {
  border-top: 10px solid #81b3d2;
}

.sort-arrows .up {
  margin-right: -2px;
  vertical-align: middle;
  opacity: 0.3;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 10px solid rgba(0,0,0,0.6);
  padding: 0;
}

.sort-arrows .up:hover {
  opacity: 1;
  border-bottom: 10px solid rgb(0,0,0);
}

.sort-arrows .up:active,
.up.active {
  border-bottom: 10px solid #81b3d2;
}

.up .active {
  opacity: 1;
}

.photo,
.description {
  float: left;
}

.rate {
  text-align: right;
  float: right;
}

.info-hotel {
  border-top: 1px solid #e5e5e5;
  margin-top: 17px;
}

.photo {
  margin-left: 45px;
  padding-top: 30px;
}

.description {
  width: 283px;
  margin-left: 32px;
  padding-top: 3px;
}

.description h3 {
  font-size: 20px;
  margin-bottom: 2px;
  font-weight: 600;
  letter-spacing: -1px;
}

.description h3:hover {
   color: #81b3d2;
}

.description h3:active {
  opacity: 0.5;
}

.description p {
  display: inline-block;
  margin-top: 0px;
  padding-right: 40px;
  font-size: 12px;
}

.description a {
  width: 110px;
  height: 25px;
  background-color: #81b3d2;
  color: white;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  padding: 1px 0px;
  text-align: center;
}

.description a:hover {
  background-color: #669ec0;
}


.description a:active {
  background-color: #5496bd;
  color: rgba(250,250,250,0.3);
}

.description input {
  background-color: #766357;
  width: 110px;
  color: white;
  font-size: 12px;
  outline: none;
  border: 0px;
  width: 143px;
  height: 27px;
}

.description input:hover {
  background-color: #604e43;
}

.description input:active {
  background-color: #503e33;
  color: rgba(250,250,250,0.3);
}

.rate {
  margin-right: 46px;
}

.rate p {
  font-size: 12px;
  background-color: #f3f3f3;
  width: 110px;
  height: 27px;
  color: #656565;
  text-align: center;
}

.rate img {
  padding-top: 29px;
  padding-bottom: 29px;
}

 a.btn-contacts {
  text-decoration: none;
}

.main-part .info-hotel:last-child {
  border-bottom: 1px solid #e5e5e5;
  padding-bottom: 17px;
}

.catalog-footer {
  padding-top: 0px;
}

.modal-content {
  z-index: 2000;
  display: none;
  position: fixed;
  top: 50%; 
  left: 50%; 
  transform: translateX(-50%) translateY(-50%);
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  position: fixed;
  width: 510px;
  height: 397px;
  color: #000000;
  background: #fff;
  box-shadow: 0px 30px 50px rgba(0, 0, 0, 0.7);
  font-size: 14px;
  font-weight: 700;
  padding-left: 57px;
  letter-spacing: -1px;
}

.modal-content-show {
  display: block;
}

.modal-content:before {
  height: 57px;
  width: 568px;
  background-color: #766357;
  color: white;
  content: "ПОИСК ГОСТИНИЦЫ В СЕДОНЕ";
  position: absolute;
  top: -86px;
  left: 0px;
  font-size: 19px;
  text-align: center;
  line-height: 26px;
  padding-top: 29px;
}

.modal-content .btn {
  display: block;
  margin-top: 40px;
  width: 463px;
  height: 60px;
  background-color: #81b3d2;
  border: none;
  outline: none;
  color: white;
  font-size: 21px;
  font-weight: 700;
}

.modal-content .btn:hover {
  background-color: #669ec0;
}

.modal-content .btn:active {
  background-color: #5496bd;
  color: #85b0cd;
}

.modal-content .date,
.modal-content .quantity {
  display: inline-block;
}

.modal-content .date {
  width: 326px;
  height: 31px;
  margin-right: 48px;
  margin-left: 30px;
  border: none;
  background-color: #f2f2f2;
  color: #000;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: -1px;
  padding-left: 4px;
  outline: none;
  border: 2px solid #f2f2f2;
}

 label.check-in,
 label.check-out,
  .form-adults{
  display: block;
  margin-top: 51px;
  position: relative;
}

label.check-in:after,
label.check-out:after {
  background: url("img/date.png") no-repeat;
  opacity: 0.3;  
  position: absolute;
  content: "";
  width: 22px;
  height: 22px;
  top: 8px;
  left: 427px;
}

label.check-in:hover:after,
label.check-out:hover:after {
  background: url("img/date.png") no-repeat;
  opacity: 1;  
}

label.check-in:active:after,
label.check-out:active:after {
  background: url("img/date-1.png") no-repeat;
}

.modal-content .quantity {
  line-height: 26px;
  font-size: 14px;
  padding-left: 50px;
  display: inline-block;
  margin-left: 37px;
  width: 56px;
  height: 27px;
  background-color: #f2f2f2;
  border: 2px solid #f2f2f2;
  outline: none;
  font-weight: 700;
}

label.adults,
label.children {
  position: relative;
}

label.children {
  margin-left: 49px;
}

label.adults:before {
  position: absolute;
  content: "-";
  top: -5px;
  left: 130px;
  background-color: transparent;
  width: 20px;
  height: 20px;
  z-index: 1000;
  font-size: 24px;
  color: #a9a9a9;
}


label.children:before {
  position: absolute;
  content: "-";
  top: -5px;
  left: 86px;
  background-color: transparent;
  width: 20px;
  height: 20px;
  z-index: 1000;
  font-size: 24px;
  color: #a9a9a9;
}

label.adults:after{
  position: absolute;
  content: "+";
  top: -5px;
  left: 196px;
  background-color: transparent;
  width: 20px;
  height: 20px;
  z-index: 1000;
  font-size: 24px;
  color: #a9a9a9;
}

label.children:after {
  position: absolute;
  content: "+";
  top: -5px;
  left: 159px;
  background-color: transparent;
  width: 20px;
  height: 20px;
  z-index: 1000;
  font-size: 24px;
  color: #a9a9a9;
}

label.adults:hover:before,
label.adults:hover:after, 
label.children:hover:before,
label.children:hover:after  {
  color: black;
}

label.adults:active:before,
label.adults:active:after, 
label.children:active:before,
label.children:active:after  {
  color: #81b3d2;
}

.modal-content input {
  border: 2px solid #f2f2f2;
}

.modal-content input:hover {
  border: 2px solid #ebebeb;
  background-color: #ebebeb;
}

.modal-content input:active {
  border: 2px solid #e5e5e5;
  background-color: white;
}